@font-face {
    font-family: 'neytiri';
    src: url('fonts/neytiri.ttf') format('truetype'),
         url('fonts/neytiri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="neytiri-"], [class*=" neytiri-"] {
    font-family: 'neytiri' !important;
}

.neytiri-home:before {
    content: "\E001";
}

.red {
    color: red;
}