@font-face {
  font-family: 'neytiri';
  src: url('fonts/neytiri.ttf') format('truetype'), url('fonts/neytiri.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="neytiri-"], [class*="neytiri-"] {
  font-family: neytiri !important;
}
.neytiri-blog:before {
  content: '\8678';
}

.neytiri-book:before {
  content: '\44E9';
}

.neytiri-books:before {
  content: '\1509';
}

.neytiri-bullhorn:before {
  content: '\2220';
}

.neytiri-camera:before {
  content: '\C55B';
}

.neytiri-clubs:before {
  content: '\280E';
}

.neytiri-connection:before {
  content: '\446E';
}

.neytiri-diamonds:before {
  content: '\1F16';
}

.neytiri-dice:before {
  content: '\734E';
}

.neytiri-droplet:before {
  content: '\6731';
}

.neytiri-eyedropper:before {
  content: '\F6E4';
}

.neytiri-feed:before {
  content: '\8513';
}

.neytiri-file-text:before {
  content: '\2507';
}

.neytiri-film:before {
  content: '\45C3';
}

.neytiri-headphones:before {
  content: '\DCA0';
}

.neytiri-home:before {
  content: '\1F2B';
}

.neytiri-home2:before {
  content: '\4F3C';
}

.neytiri-home3:before {
  content: '\CB7B';
}

.neytiri-image:before {
  content: '\310D';
}

.neytiri-images:before {
  content: '\BAFC';
}

.neytiri-library:before {
  content: '\79EC';
}

.neytiri-mic:before {
  content: '\01CB';
}

.neytiri-music:before {
  content: '\F1F0';
}

.neytiri-newspaper:before {
  content: '\FA9A';
}

.neytiri-office:before {
  content: '\48BE';
}

.neytiri-pacman:before {
  content: '\7D65';
}

.neytiri-paint-format:before {
  content: '\6D18';
}

.neytiri-pen:before {
  content: '\9D91';
}

.neytiri-pencil:before {
  content: '\4601';
}

.neytiri-pencil2:before {
  content: '\F9B4';
}

.neytiri-play:before {
  content: '\7F88';
}

.neytiri-podcast:before {
  content: '\1BC0';
}

.neytiri-profile:before {
  content: '\852A';
}

.neytiri-quill:before {
  content: '\6604';
}

.neytiri-spades:before {
  content: '\AA10';
}

.neytiri-video-camera:before {
  content: '\1E0A';
}
